.movies-card-list {
  padding: 70px 70px 0 70px;
  min-height: 20px;
}

.movies-card-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.movies-card-list__not-found-text {
  display: block;
  text-align: center;
  color: #8b8b8b;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    padding: 60px 30px 0 30px;
  }
}

@media screen and (max-width: 420px) {
  .movies-card-list {
    padding: 40px 10px 0 10px;
  }
}
