.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 524px;
}

.promo__title {
  max-width: 730px;
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0;
  margin-bottom: 15px;
  z-index: 1;
}

.promo__subtitle {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  z-index: 1;
}

.promo__background {
  position: absolute;
  width: 300px;
  height: auto;
  transform: rotate(30deg);
  opacity: 0.1;
  z-index: 0;
}

@media screen and (max-width: 420px) {
  .promo {
    min-height: 570px;
  }

  .promo__title {
    max-width: 300px;
    font-size: 31px;
  }

  .promo__subtitle {
    max-width: 300px;
    font-size: 24px;
  }

  .promo__background {
    width: 200px;
  }
}
