.login-link {
  margin-left: auto;
}

.login-link__login,
.login-link__regestration {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
}

.login-link__regestration {
  color: #fff;
  margin-right: 30px;
}

.login-link__login {
  color: #000;
  background-color: #3ddc84;
  border-radius: 3px;
  padding: 8px 20px;
}

.login-link__login:hover {
  opacity: 0.8;
}

.login-link__regestration:hover {
  opacity: 0.7;
}

@media screen and (max-width: 420px) {
  .login-link__regestration {
    margin-right: 14px;
    font-size: 10px;
  }

  .login-link__login {
    font-size: 10px;
    padding: 5px 12px;
  }
}
