.auth-form {
  max-width: 396px;
  width: 100%;
}

.auth-form__inputs-container {
  max-width: 396px;
  width: 100%;
  min-height: 266px;
  display: flex;
  flex-direction: column;
  margin-bottom: 69px;
}

.auth-form__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 10px;
}

.auth-form__input {
  background-color: #2f2f2f;
  border-radius: 8px;
  border: none;
  color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  height: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.auth-form__input:focus-visible {
  outline: none;
}

.auth-form__error-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  height: 12px;
  color: #ee3465;
}

.auth-form__submit-btn {
  width: 100%;
  height: 45px;
  background-color: #4285f4;
  border-radius: 3px;
  padding: 13px 126px 15px 124px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
}

.auth-form__submit-btn:hover {
  opacity: 0.8;
}

.auth-form__suggest-container {
  text-align: center;
}

.auth-form__suggest {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  margin-right: 6px;
}

.auth-form__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  text-decoration: none;
}

.auth-form__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 420px) {
  .auth-form__inputs-container {
    margin-bottom: 157px;
  }

  .auth-form__submit-btn {
    padding: 15px 68px 15px 67px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 14px;
  }

  .auth-form__suggest {
    font-size: 12px;
    line-height: 15px;
    margin-right: 7px;
  }

  .auth-form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
