.about-project {
  padding: 110px 70px;
  background-color: #202020;
}

.about-project__title {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  font-weight: 400;
  margin: 0 0 23px 0;
}

.about-project__line {
  border-bottom: 1px solid #dadada;
  margin-bottom: 70px;
}

.about-project__article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 110px;
}

.about-project__article-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0 0 26px 0;
}

.about-project__article-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.about-project__infographics {
  display: flex;
  text-align: center;
}

.about-project__left-container {
  width: 20%;
}

.about-project__right-container {
  width: 80%;
}

.about-project__infographics-left-container,
.about-project__infographics-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  min-height: 36px;
}

.about-project__infographics-left-container {
  background-color: #3ddc84;
  color: #000;
}

.about-project__infographics-right-container {
  background-color: #303030;
  color: #fff;
}

.about-project__first-part,
.about-project__second-part,
.about-project__undertext {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}

.about-project__undertext {
  font-weight: 500;
  color: #8b8b8b;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__article {
    grid-gap: 30px;
    margin-bottom: 93px;
  }

  .about-project__article-title {
    margin-bottom: 22px;
  }

  .about-project__article-text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__undertext {
    font-weight: 400;
    color: #a0a0a0;
  }
}
